<!DOCTYPE html>
<html>
  <head>
    <title>MangoBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U" %>
    <%= stylesheet_link_tag "application", 'https://www.w3schools.com/w3css/4/w3.css' %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Raleway' %>
    <%= stylesheet_link_tag "application", 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
          window.photos = <%= render(
            "api/photos/photo.json.jbuilder",
            photo: photo_holder
          ).html_safe %>
    </script>

    <% if current_user %>
    <script type="text/javascript">
      window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
      ).html_safe %>
    </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
